.swiperSilde,
.swiperSildeNewInP {
	width: 185px;
}
@media screen and (min-width: 768px) {
	.swiperSilde {
		width: 225px;
	}
}
@media screen and (min-width: 1280px) {
	.swiperSilde {
		width: 285px;
	}
}
@media screen and (min-width: 1536px) {
	.swiperSilde {
		width: 335px;
	}
}
@media screen and (min-width: 768px) {
	.swiperSildeNewIn {
		width: 375px;
	}
}
@media screen and (min-width: 1280px) {
	.swiperSildeNewIn {
		width: 625px;
	}
}
@media screen and (min-width: 768px) {
	.swiperSildeNewInP {
		width: 225px;
	}
}
@media screen and (min-width: 1280px) {
	.swiperSildeNewInP {
		width: 375px;
	}
}
@media screen and (min-width: 768px) {
	.swiperSildeNewInPB {
		width: 50%;
	}
}
@media screen and (min-width: 1024px) {
	.swiperSildeNewInPB {
		width: 33%;
	}
}
@media screen and (min-width: 768px) {
	.swiperSildeNewPN {
		width: 340px;
	}
}
@media screen and (min-width: 1024px) {
	.swiperSildeNewPN {
		width: 310px;
	}
}
@media screen and (min-width: 1280px) {
	.swiperSildeNewPN {
		width: 285px;
	}
}